### Pandas Assignment:

Assignment 1: DataFrame Creation and Indexing

1.Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

2.Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [6]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\administrator\documents\git_practice\venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\administrator\documents\git_practice\venv\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\documents\git_practice\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\administrator\documents\git_practice\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\administrator\documents\git_practice\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\administrator\documents\git_practice\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\administrator\documents\git_practice\venv\lib\site-packages (2.3.1)

In [8]:
import pandas as pd
import numpy as np
## Task 1
## Create a pandas dataframe with 4 columns and 6 rows filled with random integers
df1=pd.DataFrame(np.random.randint(1,100, size= (6,4)), columns=[ 'ID', 'Eng', 'Urdu', 'Maths'])

## Set the index to be first column
df1.set_index('ID', inplace=True)

## Display the dataframe
print("Dataframe with index as first column:")
print(df1 )

Dataframe with index as first column:
    Eng  Urdu  Maths
ID
59   68    48     39
2    90    36     89
6    76    71     48
45    6    43     90
74   47    35     52
65   33    36     18

In [9]:
## Task 2
## Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'
df2=pd.DataFrame(np.random.randint(1,100,size= (3,3)), columns= ['A','B','C'],index=['X','Y','Z'])

## Display the dataframe
print("\n Labeled dataframe:")
print(df2)

## Access the elements at column 'B' and row 'Y'
value= df2.loc['Y','B']
print("\nElement at row 'Y' and column 'B':", value)

 Labeled dataframe:
    A   B   C
X  44  14  10
Y  22  95  93
Z  39  23  89

Element at row 'Y' and column 'B': 95

Assignment 2: DataFrame Operations

1.Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

2.Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [10]:
## Task 1
## Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df1=pd.DataFrame(np.random.randint(1,30,size=(5,3)), columns= ['A','B','C'])

## Add a new column 'Product' = A * B
df1['Product']= df1['A'] * df1['B']

## Display the dataframe
print("DataFrame with Product column (A * B):")
print(df1)

DataFrame with Product column (A * B):
    A   B   C  Product
0  26  15  24      390
1  13  11  20      143
2   1  13   4       13
3  26   6   9      156
4  10  28  20      280

In [11]:
## Task 2
## Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers
df2=pd.DataFrame(np.random.randint(1,30,size=(4,3)), columns= ['A','B','C'])

## Compute row-wise sum
row_sum=df2.sum(axis=1)

## Compute column_wise sum
col_sum=df2.sum(axis=0)

## Display the dataframe
print("\nOriginal dataframe:")
print(df2)

Original dataframe:
    A  B   C
0  14  3   3
1   1  6   6
2   3  1  20
3   9  3  25

Assignment 3: Data Cleaning

1.Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

2.Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [12]:
## Task 1
## Set random seed for reproducibility
np.random.seed(1)

## Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df1=pd.DataFrame(np.random.randint(1,20,size=(5,3)), columns=['X','Y','Z'])

## Introduce NaN values manually
df1.iloc[1, 0] = np.nan
df1.iloc[3, 2] = np.nan
print("Original DataFrame with NaN values:")
print(df1)

## Fill NaN with column mean
df1_filled = df1.fillna(df1.mean(numeric_only=True))

## Dispaly the dataframe
print("\nDataFrame after filling NaN with column mean:")
print(df1_filled)

Original DataFrame with NaN values:
      X   Y     Z
0   6.0  12  13.0
1   NaN  10  12.0
2   6.0  16   1.0
3  17.0   2   NaN
4   8.0  14   7.0

DataFrame after filling NaN with column mean:
       X   Y      Z
0   6.00  12  13.00
1   9.25  10  12.00
2   6.00  16   1.00
3  17.00   2   8.25
4   8.00  14   7.00

In [13]:
## Task 2
## Create a pandas dataframe with 4 columns and 6 rows filled with random integers
df2=pd.DataFrame(np.random.randint(1,20,size=(6,4)), columns=['W','X','Y','Z'])

## Introduce NaN values manually
df2.iloc[2, 1] = np.nan
df2.iloc[4, 3] = np.nan
print("Original DataFrame with NaN values:")
print(df2)

## Drop the rows with any NaN values
df2_cleaned=df2.dropna()

## Dispaly the dataframe
print("\nDataframe after dropping rows with NaN values:")
print(df2_cleaned)

Original DataFrame with NaN values:
    W     X   Y     Z
0  19   6.0  19  12.0
1  11  15.0  19   5.0
2  10   NaN   1  14.0
3  10  10.0   8   2.0
4   1  18.0   9   NaN
5  16  11.0   9   8.0

Dataframe after dropping rows with NaN values:
    W     X   Y     Z
0  19   6.0  19  12.0
1  11  15.0  19   5.0
3  10  10.0   8   2.0
5  16  11.0   9   8.0

Assignment 4: Data Aggregation

1.Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

2.Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [14]:
## Task 1
## Create a pandas dataframe with two columns
np.random.seed(0)  ## reproducibility
df1=pd.DataFrame({
    'Category':np.random.choice(['A','B','C'], size=10),
    'Value'   :np.random.randint(1,100, size=10)
})
print("Original dataframe:")
print(df1)

## Group by 'Category' and calculate sum and mean
grouped_1=df1.groupby('Category')['Value'].agg(['sum' , 'mean'])
print("\nGrouped by 'Category' - Sum and Mean of 'Value':")
print(grouped_1)

Original dataframe:
  Category  Value
0        A     13
1        B     59
2        A     66
3        B     40
4        B     88
5        C     47
6        A     89
7        C     82
8        A     38
9        A     26

Grouped by 'Category' - Sum and Mean of 'Value':
          sum       mean
Category
A         232  46.400000
B         187  62.333333
C         129  64.500000

In [15]:
## Task 2
## Create a pandas dataframe with three columns
df2=pd.DataFrame({
    'Product' :[f'P{i}' for i in range(1, 11)],
    'Category':np.random.choice(['A','B','C'], size=10),
    'Sales'   :np.random.randint(1,20, size=10)
})
print("\nProduct Sales DataFrame:")
print(df2)

## Group by 'Category' and compute total sales
grouped_2=df2.groupby('Category')['Sales'].sum().reset_index
print("\nGrouped by 'Category' - Total sales:")
print(grouped_2)

Product Sales DataFrame:
  Product Category  Sales
0      P1        B     18
1      P2        A     15
2      P3        B      8
3      P4        A      1
4      P5        A      2
5      P6        B     10
6      P7        C      1
7      P8        A     11
8      P9        C      4
9     P10        A     12

Grouped by 'Category' - Total sales:
<bound method Series.reset_index of Category
A    41
B    36
C     5
Name: Sales, dtype: int32>

Assignment 5: Merging DataFrames

1.Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

2.Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [16]:
import pandas as pd
## Task 1
## Create two Pandas DataFrames with a common column
df1=pd.DataFrame({
    'ID'  : [1, 2, 3],
    'Name': ['Wali', 'Abul', 'Maya']
})
df2=pd.DataFrame({
    'ID'  : [1, 2, 3],
    'Age': [20, 22, 19]
})

## Merge the two dataframes
merged_df = pd.merge(df1, df2, on='ID')
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
   ID  Name  Age
0   1  Wali   20
1   2  Abul   22
2   3  Maya   19

In [17]:
## Task 2
## Create two Pandas DataFrames with different column
df3=pd.DataFrame({
    'A' : ['A0', 'A1', 'A2'],
    'B' : ['B0', 'B1', 'B2']
})
df4 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['D0', 'D1', 'D2']
})

## Concatenate along rows (axis=0)
con_rows = pd.concat([df3, df4], axis=0)

print("\nConcatenated along rows:")
print(con_rows)

## Concatenate along columns (axis=1)
con_cols = pd.concat([df3, df4], axis=1)

print("\nConcatenated along columns:")
print(con_cols)

Concatenated along rows:
     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
0  NaN  NaN   C0   D0
1  NaN  NaN   C1   D1
2  NaN  NaN   C2   D2

Concatenated along columns:
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2

Assignment 6: Time Series Analysis

1.Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

2.Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [18]:
## Task 1
## Create a date range (e.g daily for one year)
date_rng = pd.date_range(start='2024-01-01', end='2024-12-31', freq='D')

## Create DataFrame with random integers
df1 = pd.DataFrame({
    'Value': np.random.randint(1, 100, size=len(date_rng))
}, index=date_rng)

## Resample to compute the monthly mean
monthly_mean = df1.resample('M').mean()

## Display the results
print("Original DataFrame (first 5 rows):")
print(df1.head())
print("\nMonthly mean:")
print(monthly_mean)

Original DataFrame (first 5 rows):
            Value
2024-01-01     56
2024-01-02     29
2024-01-03     35
2024-01-04      1
2024-01-05      1

Monthly mean:
                Value
2024-01-31  39.354839
2024-02-29  50.068966
2024-03-31  49.000000
2024-04-30  46.033333
2024-05-31  51.290323
2024-06-30  50.700000
2024-07-31  41.258065
2024-08-31  47.741935
2024-09-30  54.066667
2024-10-31  59.516129
2024-11-30  44.300000
2024-12-31  54.096774

C:\Users\Administrator\AppData\Local\Temp\ipykernel_12416\1002938579.py:11: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df1.resample('M').mean()

Assignment 7: MultiIndex DataFrame

1.Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

2.Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [19]:
## Task 1
## Define arrays for MultiIndex
arrays = [
    ['A', 'A', 'A', 'B', 'B', 'C', 'C'],
    ['one', 'two', 'three', 'one', 'two', 'one', 'three']
]
## Create MultiIndex
index = pd.MultiIndex.from_arrays(arrays, names=['Level1', 'Level2'])

## Create DataFrame with random integers
df1 = pd.DataFrame(np.random.randint(1, 10, size=(7, 3)), index=index, columns=['X', 'Y', 'Z'])

print("Original MultiIndex DataFrame:")
print(df1)

## Indexing: select data under 'A'
print("\nData for Level1 = 'A':")
print(df1.loc['A'])

## Indexing: select data under 'B', sub-level 'two'
print("\nData for Level1 = 'B' and Level2 = 'two':")
print(df1.loc[('B', 'two')])

## Slicing: get data for Level1 = 'A' and Level2 = 'one' and 'three'
idx= pd.IndexSlice
print("\nData for Level1 = 'A' and Level2 in ['one', 'three']:")
print(df1.loc[idx['A', ['one', 'three']], :])

Original MultiIndex DataFrame:
               X  Y  Z
Level1 Level2
A      one     7  8  9
       two     9  8  1
       three   9  7  9
B      one     9  4  7
       two     2  8  5
C      one     3  1  9
       three   3  8  9

Data for Level1 = 'A':
        X  Y  Z
Level2
one     7  8  9
two     9  8  1
three   9  7  9

Data for Level1 = 'B' and Level2 = 'two':
X    2
Y    8
Z    5
Name: (B, two), dtype: int32

Data for Level1 = 'A' and Level2 in ['one', 'three']:
               X  Y  Z
Level1 Level2
A      one     7  8  9
       three   9  7  9

In [23]:
## Task 2
## Create tuples for MultiIndex
tuples = [
    ('Electronics' , 'Fan'),
    ('Electronics' , 'TV'),
    ('Cosmetics'   , 'Perfume'),
    ('Cosmetics'   ,  'Lipstick')
]

## Create MultiIndex
index = pd.MultiIndex.from_tuples(tuples, names=['Category', 'Subcategory'])

## Create DataFrame with random integers
df2 = pd.DataFrame(np.random.randint(50, 100, size=(4, 2)), index=index, columns=['Sales_Q1', 'Sales_Q2'])

print("\nMultiIndex DataFrame with Category and SubCategory:")
print(df2)

## Compute the sum of values for each 'Category' and 'SubCategory'
df2_category = df2.groupby(level=['Category']).sum()
df2_subcategory = df2.groupby(level=['Subcategory']).sum()

## Print the results
print( "\nSum of Sales for each Category:")
print(df2_category)
print("\nSum of Sales for each SubCategory:")
print(df2_subcategory)

MultiIndex DataFrame with Category and SubCategory:
                         Sales_Q1  Sales_Q2
Category    Subcategory
Electronics Fan                54        86
            TV                 94        99
Cosmetics   Perfume            73        80
            Lipstick           75        70

Sum of Sales for each Category:
             Sales_Q1  Sales_Q2
Category
Cosmetics         148       150
Electronics       148       185

Sum of Sales for each SubCategory:
             Sales_Q1  Sales_Q2
Subcategory
Fan                54        86
Lipstick           75        70
Perfume            73        80
TV                 94        99